body{
    background-image: url(https://w.wallhaven.cc/full/yx/wallhaven-yx2ewg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    border: 10px solid black; padding: 10px;
    outline: black 2px;
    font-size: 40px;
}
img{
border-width: 50px;
display: block;
}
ol{
    background-color: rgb(0, 0, 0);
}
.footer{
position: fixed;
z-index: 1;
bottom: 0px;
background-color: white
}
.header{
top: 0px;;
}
.mainbody{
    top: 400px;
}
iframe{
   float: right;
}